<app-list-tasks></app-list-tasks>

<div class="modal fade m-5 pt-5" id="editModal" tabindex="-1" role="dialog" 
    aria-lebel="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text" name="title" class="form-control" aria-describedby="title">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                </form>
            </div>     
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar Cambios</button>
            </div> 
        </div>
    </div>

</div>